.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 48px;
  background-image: url("./assets/images/logo-pgpool.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px 0px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.sideMenu {
  margin: 24px 16px;
}
