[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
werkzeug = "*"
functorflow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-caching = "*"
alembic = "*"
aniso8601 = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
marshmallow = "*"
passlib = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
six = "*"
sqlalchemy = "*"
webargs = "*"
apispec = "*"
flasgger = "*"

[dev-packages]

[requires]
python_version = "3.8"
