.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 48px;
  background-image: url("./assets/images/logo-pgpool.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px 0px;
}
.sideMenu {
  margin: 24px 16px;
}
.ant-form-item-label {
  text-align: left;
}
.ant-form-item-control-input-content {
  text-align: initial;
}
aside {
  height: 100em;
}
.header {
  padding: 0;
}
