.logo {
  height: 48px;
  background-image: url("./assets/images/logo-pgpool.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px 0px;
}
.sideMenu {
  margin: 24px 16px;
}
.ant-form-item-label {
  text-align: left;
}
.ant-form-item-control-input-content {
  text-align: initial;
}
aside {
  height: 100em;
}
